.login-container {
  padding: 5rem 0;
  &_title {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      width: max-content;
    }
    img {
      object-fit: cover;
      margin: 0;
      width: 6rem;
      height: 6rem;
    }
  }

  .no_account_text {
    color: $light-grey;
    width: max-content;
    margin: 0 auto;
    font-size: 0.9rem;
    cursor: pointer;
    &:hover {
      color: $accent_light_red;
    }
  }

  &_fields {
    &_field {
      &_label {
        color: $off_white;
        font-size: .9rem;
        width: max-content;
        position: absolute;
        top: -82%;
        transform: translate(0, 50%);
      }
      .login-input {
        width: 75%;
        max-width: 25rem;
        position: relative;
        margin: .5rem auto;
        transition: .3s;
        &.extra-margin-top {
          margin-top: 2rem;
        }
        &.error {
          margin-top: 2rem;
          margin-bottom: 1.5rem;
          input {
            background-color: $accent_light_red;
            border-bottom: .2rem solid $accent_red;
            &::placeholder {
              color: $dark_background;
            }
          }
        }
        input {
          display: block;
          width: 100%;
        }
        &_required {
          position: absolute;
          top: .1rem;
          left: .1rem;
          color: $accent_red;
        }
        
        &_error {
          position: absolute;
          top: 82%;
          right: 0;
          transform: translate(0, 50%);
          color: $accent_red;
          font-size: .75rem;
        }

        // Slide Transitions
        .slide-enter-from,
        .slide-leave-to {
          top: 0;
          opacity: 0;
        }
        
        .slide-enter-to,
        .slide-leave-from {
          opacity: 1;
          top: -90%;
        }
        
        .slide-enter-active,
        .slide-leave-active {
          transition: all 0.3s;
        }
      }
    }
  }

  button {
    display: block;
    margin: 2rem auto 2rem auto;
    width: 8rem;
    pointer-events: all;
    cursor: pointer;
    transition: .3s;
    &.disabled {
      cursor: default;
      pointer-events: none;
      color: $off_white;
      background-color: $light-grey;
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .login-container {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .login-container {
    &_title {
      // flex-direction: c;
      img {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .login-container {
    &_title {
      img {
        width: 6.5rem;
        height: 6.5rem;
      }
    }
  }
}