.leagues-container {
  text-align: center;
  .leagues-table {
    margin: 1rem auto;
    &_navigation {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      &_search {
        margin-bottom: .5rem;
      }
      &_radio {
        margin-bottom: 1rem;
      }
    }
    &_table {
      margin-top: .5rem;
    }
    &_cards {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_pagination {
        width: 100%;
      }
    }
    &_btn {
      margin-top: 1.5rem;
    }
  }
}