.league-container {
  width: 100%;
  .white_card_background {
    margin-bottom: 1rem;
  }

  &_content {
    margin: 0 auto;
    width: 90%;

    .content-section {
      margin: 1rem 0;
    }

    &_title {
      font-weight: 600;
      font-size: 1.25rem;
      text-align: center;
      padding: .75rem 0;
    }
    &_sub-title {
      font-size: .8rem;
      color: $accent_red;
    }
    &_leaderboard {
      width: inherit;
      .grid-table {
        width: 100%;
        &_table {
          width: 100%;
          &-container {
            width: inherit;
          }
        }
      }
    }
    &_schedule {
      width: inherit;
      .grid-table {
        width: 100%;
        &_table {
          width: 100%;
          &-container {
            width: inherit;
          }
        }
      }
    }
    &_overall-stats {
      width: inherit;
      .grid-table {
        width: 100%;
        &_table {
          width: 100%;
          &-container {
            width: inherit;
          }
        }
      }
    }

    table {
      th {
        width: max-content;
        white-space: nowrap;
      }
    }

    &_players {
      width: inherit;
      margin: 1rem auto;
      .grid-table {
        width: 100%;
        &_table {
          width: 100%;
          &-container {
            width: inherit;
          }
        }
      }
    }
    &_league-info {
      width: inherit;
      margin-bottom: 0 !important;
      p {
        text-align: left;
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: .25rem;
      }
      &_table {
        width: 100%;
        overflow-x: auto;
        table {
          width: max-content;
          border-collapse: collapse;
          text-align: left;
          thead {
            th {
              padding: 0rem .75rem;
              padding-left: 0;
              width: max-content;
              font-weight: 300;
              font-size: .8rem;
            }
          }
          tbody {
            td {
              font-weight: 600;
              font-size: 1rem;
              color: $accent_red;
              padding: .1rem 1.25rem;
              padding-left: 0;
            }
          }
        }
      }
      .league-rules {
        cursor: pointer;
        font-size: .9rem;
        font-weight: 400;
        width: max-content;
        color: $accent_light_red;
        text-align: left;
        margin-top: .75rem;
        &:hover {
          color: $accent_red;
        }
      }
    }
    &_buttons {
      margin-bottom: 0 !important;
      text-align: center;
      button {
        margin: 0 auto;
      }
      p {
        cursor: pointer;
        text-align: center;
        font-size: .8rem;
        color: $light-grey;
        margin: .5rem 0 0 0;
      }
      h6 {
        text-align: center;
        font-size: .8rem;
        font-weight: 400;
        color: $accent_red;
        margin: 0 0 .5rem 0;
      }
    }
  }

  &_about {
    margin: 0 auto;
    width: 90%;

    &_title {
      font-weight: 600;
      font-size: 1.25rem;
      margin-bottom: .25rem;
    }

    &_content {
      width: inherit;
      text-align: left;
      font-size: .8rem;
      color: $accent_red;
    }
  }

  &_edit {
    margin: 0 auto;
    margin-bottom: 4rem !important;
    width: 90%;

    &_title {
      font-weight: 600;
      font-size: 1.25rem;
    }

    &_settings {
      width: 90%;
      box-sizing: border-box;
      &_grid {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-column-gap: 1rem;
        grid-row-gap: .5rem;
        width: 100%;
        min-width: 0;
        &_field {
          min-width: 0;
          label {
            font-size: .8rem;
            span {
              color: $accent_red;
              margin-left: .1rem;
            }
          }
          &_text-area {
            height: max-content;
            .field-input {
              min-height: 2rem;
              resize: vertical;
              overflow: auto;
            }
          }
          &_input, &_text-area {
            .field-input {
              font-size: .8rem;
              border: 1px solid $light-grey;
              width: 100%;
            }
            &.invalid {
              .field-input {
                border-color: $accent_red;
              }
            }
          }
          &_radio-group {
            margin-top: .5rem;
            p {
              color: $dark_background !important;
            }
            &-disabled {
              .radio-button-group_buttons_button {
                pointer-events: none;
                .radio-button_circle_selected {
                  border-color: $light-grey;
                  &::after {
                    background-color: $light-grey;
                  }
                }
              }
            }
          }
          &.full-width {
            grid-column-start: 1;
            grid-column-end: 3;
          }
        }
      }
      &_btn-edit, &_btn-save {
        display: block;
        margin: 1rem auto .5rem auto;
        text-align: center;
        transition: .3s;
        &.disabled {
          pointer-events: none;
          background-color: $light-grey;
        }
      }
      &_btn-cancel {
        text-align: center;
        font-size: 1rem;
        margin: .25rem auto .75rem auto;
        color: $light-grey;
        width: max-content;
      }
    }
  }
}