.radio-slider {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  &_label {
    margin-right: .5rem;
  }
  &_input {
    input {
      display: none;
    }
    &_display {
      width: 3rem;
      height: 1.25rem;
      border-radius: 50rem;
      background-color: $accent_red;
      border: 1px solid $accent_red;
      position: relative;
      transition: .5s;
      &.selected {
        background-color: $off_white;
      }
      &-circle {
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background-color: $off_white;
        position: absolute;
        top: 50%;
        right: .25rem;
        transform: translate(0%, -50%);
        transition: .5s;
        &.selected {
          background-color: $accent_red;
          left: .25rem;
          right: unset;
        }
      }
    }
  }
  &_disabled {
    pointer-events: none;
    .radio-slider_input_display {
      background-color: $light-grey;
      border: 1px solid $light-grey;
      &-circle {
        &.selected {
          background-color: $off_white;
        }
      }
    }
  }
}