.simple-dropdown {
  position: relative;
  width: 100%;
  &_label {
    text-align: left;
    font-size: .75rem;
    font-weight: 600;
    margin-bottom: .25rem;
  }

  &_selected-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $off_white;
    border: 1px solid $light_grey;
    border-radius: .25rem;
    padding: .5rem .75rem;
    width: inherit;
    min-width: 5rem;
    font-size: .75rem;
    p {
    }
    &_icon {
      margin-left: 1rem;
      transform: rotate(0deg);
      transition: .3s;
      &.open {
        transform: rotate(180deg);
      }
    }
  }
  
  &_content {
    border: 1px solid $light_grey;
    border-radius: .25rem;
    position: absolute;
    top: calc(100% + .25rem);
    left: -1rem;
    width: calc(100% + 2rem);
    max-height: 7rem;
    overflow-y: scroll;
    &_item {
      background-color: $off_white;
      padding: .5rem .75rem;
      &:nth-child(even) {
        background-color: $light_grey;
      }
      p {
        font-size: .75rem;
        text-align: left;
      }
    }
    &-arrow {
      position: absolute;
      top: calc(100% - .1rem);
      left: 50%;
      transform: translate(-50%, 0%) rotate(45deg);
      z-index: 6;
      width: .75rem;
      height: .75rem;
      background-color: $off_white;
      border: 1px solid $light_grey;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -2px;
        width: .75rem;
        height: .75rem;
        z-index: 6;
        background-color: $off_white;
      }
    }
  }
}