.contact-container {
    h1 {
        text-align: center;
    }
    .contact-card {
        margin: 1rem auto;
        padding: 0.5rem;
        border-radius: 5px;
        display: block;
        h2 {
            background: $accent_red;
            color: $off_white;
            padding: 0.5rem;
            border-radius: .25rem;
            width: 100%;
        }
        p {
            margin-top: 1rem;
            margin-bottom: .5rem;
            margin-left: 0.5rem;
        }
        a {
            color: $accent_red;
            &:hover {
                color: $accent_light_red;
            }
        }
    }
}