.schedules-container {
  text-align: center;
  width: 100%;

  .leagues-schedules {
    width: 90%;
    padding: 1.5rem 0;
    &_dropdowns {
      margin: 1rem 0 0 0;
      width: inherit;
      &_dropdown {
        margin: .5rem 0;
        .leagues-schedules_table {
          padding: 1rem 0;
        }
        &_link {
          cursor: pointer;
          width: max-content;
          margin: 0;
          margin-left: 1rem;
          padding-bottom: 1rem;
          color: $accent_light_red;
          text-align: left;
        }
        &_loading {
          padding: 2rem 0;
          span {
            margin-right: .5rem;
          }
        }
      }
      &_no-dropdowns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem auto 3rem auto;
        width: max-content    ;
        max-width: 100%;
        padding-bottom: .5rem;
        border-bottom: 1px solid $accent_red;
        h1 {
          font-size: 1.5rem;
          font-weight: 600;
        }
        .no-dropdown-frown {
          margin-left: 1.25rem;
          font-size: 1.75rem;
        }
      }
    }
  }
}