.leagues-container {
  text-align: center;
  .not-logged-in {
    cursor: pointer;
    color: $accent_red;
    &:hover {
      color: $accent_light_red;
    }
  }
  .leagues-table {
    margin: 1rem auto;
    &_navigation {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      &_search {
        margin-bottom: .5rem;
      }
      &_radio {
        margin-bottom: .5rem;
      }
    }
    &_table {
      margin-top: .5rem;
    }
    &_no-cards {
      margin: 3rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      h1 {
        font-size: 2rem;
        margin-right: 1rem;
      }
    }
    &_cards {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_pagination {
        width: 100%;
      }
    }
    &_btn {
      margin-top: 1.5rem;
    }
  }
  &_btns {
    margin: 3rem 0;
    h3 {
      color: $off_white;
      margin-bottom: .5rem;
    }

    .red_btn {
      margin-left: 0.6rem;
      margin-right: 0.6rem;
    }
  }
}