.breadcrumb {
  width: 90%;
  margin: 0 auto;
  margin-bottom: .5rem;
  text-align: left;
  &_links {
    font-size: .9rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &_link {
      margin-right: .65rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $off_white;
      &-route {
        color: $off_white;
        text-decoration: unset !important;
        margin-right: 1rem;
        &:hover {
          color: $accent_light_red;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .breadcrumb {
    width: 80%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .breadcrumb {
    max-width: 60rem;
    &_links {
      font-size: 1rem;
      &_link {
          margin-right: 1rem;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}