.players-container {
    text-align: center;
    margin-bottom: 4rem;
    .players-table {
      margin: 0 auto;
      &_table {
        margin-top: .5rem;
      }
      &_cards {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_pagination {
          width: 100%;
        }
      }
      &_btn {
        margin-top: 1.5rem;
      }
    }
  }