.profile {
  .profile-stats-table {
    &_firstname {
      text-align: center;
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 1.75rem;
    }
    &_nickname {
      span {
        margin: 0;
        font-size: .75rem;
        line-height: .75rem;
      }
      text-align: center;
      font-size: 1rem;
      line-height: 1rem;
    }
    &_table {
      margin: 1rem 0;
    }
  }
}