.signup-container {
  img {
    display: block;
    margin: 2rem auto 2rem auto;
    width: 50%;
  }

  &_fields {
    &_field {
      &_label {
        color: $off_white;
        font-size: .9rem;
        width: max-content;
        position: absolute;
        top: -90%;
        transform: translate(0, 50%);
      }
      .login-input {
        width: 75%;
        position: relative;
        margin: 1rem auto;
        transition: .3s;
        &.extra-margin-top {
          margin-top: 2rem;
        }
        input {
          display: block;
          width: 100%;
        }
        span {
          position: absolute;
          top: .1rem;
          left: .1rem;
          color: $accent_red;
        }

        // Slide Transitions
        .slide-enter-from,
        .slide-leave-to {
          top: 0;
          opacity: 0;
        }
        
        .slide-enter-to,
        .slide-leave-from {
          opacity: 1;
          top: -90%;
        }
        
        .slide-enter-active,
        .slide-leave-active {
          transition: all 0.3s;
        }
      }
    }
  }

  button {
    display: block;
    margin: 2rem auto 2rem auto;
    width: 35%;
    pointer-events: all;
    cursor: pointer;
    transition: .3s;
    &.disabled {
      cursor: default;
      pointer-events: none;
      color: $off_white;
      background-color: $light-grey;
    }
  }
}