.multi-item-selector {
  position: relative;
  &_label {
    font-size: .9rem;
    text-align: left;
    margin-bottom: .25rem;
    color: $accent_red;
    font-weight: 600;
  }
  &_selector {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $accent_red;
    border-radius: .25rem;
    padding: .5rem;
    min-width: 10rem;
    color: $off_white;
    margin: 0 auto;
    max-width: 15rem;
    min-width: 15rem;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &_popup {
    position: relative;
    z-index: 500;
    max-width: 20rem;
    &_links {
      position: absolute;
      top: .35rem;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 5;
      min-width: max-content;
      background-color: $off_white;
      border: 1px solid $light_grey;
      border-radius: .4rem;
      &_arrow {
        position: absolute;
        left: 50%;
        top: -.5rem;
        z-index: 6;
        width: .75rem;
        height: .75rem;
        background-color: $off_white;
        border: 1px solid $light_grey;
        transform: translate(-50%, 0) rotate(45deg);
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -2px;
          width: .75rem;
          height: .75rem;
          z-index: 6;
          background-color: $off_white;
        }
      }
      &_search {
        
        padding: .5rem;
      }
      &_items {
        margin: .5rem 0 0 0;
        max-width: 15rem;
        max-height: 15rem;
        overflow-y: scroll;
        border-radius: .4rem;
        &_item {
          cursor: pointer;
          padding: .5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $off_white;
          cursor: pointer;
          transition: .3s;
          &:nth-child(odd) {
            background-color: rgba($light_grey, .6);
          }
          p {
            width: calc(100% - 2rem);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            font-size: .8rem;
          }
          .item-check {
            font-size: .9rem;
            color: $dark_background;
          }
          &:hover {
            background-color: $light-grey;
          }
        }
        &_no-items {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2rem auto 3rem auto;
          h1 {
            font-size: 1.5rem;
            font-weight: 600;
          }
          .no-items-frown {
            margin-left: 1rem;
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
  .multi-item-selector {
    &_popup {
      &_links {
        &_items {
          &_item {
            background-color: $off_white;
            &:nth-child(odd) {
              background-color: $off_white;
            }
            &:hover {
              background-color: $light-grey;
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}