html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  background-color: $dark_background;
  .router-view {
    min-height: calc(90vh - 4.1rem);
  }
}

// Global Classes
.btn {
  outline: none;
  border: none;
}

.red_btn {
  background-color: $accent_red;
  color: $off_white;
  padding: .5rem 1.5rem;
  border-radius: 50rem;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: $light-grey;
  }
}

.site-title {
  color: $off_white;
  margin: .5rem 0;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
}

.default-input {
  padding: 0.5rem 0.5rem;
  color: $dark_background;
  outline: none;
  border: 1px solid transparent;
  border-bottom: .2rem solid $light-grey;
  border-radius: .25rem;
  &:focus {
    border: 1px solid $accent_light_red;
  }
}

.white_card_background {
  background-color: $off_white;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .white_card_background {
    width: 80%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .white_card_background {
    max-width: 60rem;
    padding: 2rem 1rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}