html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  background-color: $dark_background;
}

.btn {
  outline: none;
  border: none;
}

.red_btn {
  background-color: $accent_red;
  color: $off_white;
  padding: .5rem 1rem;
}