.game-summary {
  .btn {
    margin-top: 2rem;
    &.disabled {
      background-color: $light_grey;
      pointer-events: none;
    }
  }

  &_summary {
    text-align: center;

    .mark-finished {
      margin-bottom: .75rem;
    }

    &_teams {
      width: 90%;
      font-size: .9rem;
      color: $dark_background;
      p {
        color: $accent_red;
        font-weight: 500;
      }
      h6 {
        margin: .75rem 0;
        font-weight: 600;
        font-size: 1rem;
      }
    }
    &_info {
      width: 100%;
      margin-top: 1rem;
      h2 {
        border: 1px solid $light_grey;
        background-color: $accent_red;
        width: 90%;
        margin: .5rem auto;
        padding: .5rem 1rem;
        color: $off_white;
        border-radius: .25rem;
        font-weight: 600;
        font-size: 1rem;
      }
    }

    &_submission, &_completed {
      width: 80%;
      margin: 0 auto;
      h1 {
        margin-top: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
      }
  
      &_scores {
        width: max-content;
        min-width: 85%;
        margin: 1rem auto;
        margin-bottom: 2.5rem;
        background-color: $pure_white;
        border: 1px solid $light_grey;
        border-radius: .25rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .scores-dash {
          font-size: 1.5rem;
          font-weight: 600;
        }
        &_team1, &_team2 {
          position: relative;
          text-align: center;
          h6 {
            text-align: left;
            color: $accent_red;
            font-weight: 600;
            font-size: .75rem;
            width: max-content;
            position: absolute;
            top: -1rem;
            left: 0;
          }
          input {
            outline: none;
            border: 1px solid $dark_background;
            border-radius: .25rem;
            margin: .25rem 0;
            width: 4rem;
            height: 4rem;
            text-align: center;
            font-size: 200%;
            font-weight: 700;
            &[type=number] {
              -moz-appearance: textfield;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }
        }
        &_team2 {
          h6 {
            text-align: right;
            position: absolute;
            top: unset;
            bottom: -1rem;
            left: unset;
            right: 0;
          }
        }
      }
  
      &_stats {
        margin: .75rem auto;
        width: max-content;
        min-width: 85%;
        display: grid;
        grid-template-columns: 1fr;
        .stat-field {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          h6 {
            font-size: 1.25rem;
            font-style: italic;
            font-weight: 800;
            margin-right: 1rem;
            color: $dark_background;
          }
          input {
            outline: none;
            border: 1px solid $dark_background;
            border-radius: .25rem;
            margin: .25rem 0;
            width: 4rem;
            height: 4rem;
            text-align: center;
            font-size: 200%;
            font-weight: 700;
            &[type=number] {
              -moz-appearance: textfield;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }
        }
      }
  
      &-has-submitted {
        width: 90%;
        background-color: $pure_white;
        border-radius: .25rem;
        padding: 1rem;
        border: 1px solid $light_grey;
        p {
          font-size: .75rem;
          margin-bottom: .75rem;
        }
        h1 {
          margin: 0 auto;
          margin-top: .25rem;
          font-size: 1rem;
          color: $accent_red;
          font-weight: 500;
          text-align: center;
        }
        .btn {
          margin-top: 1rem;
        }
      }
    }

    &_completed {
      width: 90%;
      &_scores {
        margin: 1.5rem auto;
      }
      &_stats {
        width: 100%;
        &_table {
          width: 100%;
        }
      }
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .game-summary {
    &_summary {
      &_submission, &_completed {
        &_scores {
          min-width: 70%;
        }
        &_stats {
          min-width: 70%;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .game-summary {
    &_summary {
      &_submission, &_completed {
        width: unset;
        &_scores {
          min-width: 60%;
        }
        &_stats {
          width: unset;
          grid-gap: .5rem;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .game-summary {
    &_summary {
      &_submission, &_completed {
        &_scores {
          min-width: 50%;
        }
        &_stats {
          width: unset;
          grid-gap: .5rem;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
